// VARIABLES
$white: #fff;
$black: #000;
$shocking-pink: #ff1ead;
$shocking-pink-light: #fa7ecc;
$shocking-pink-dark: #b8157c;
$grey-light: #f5f0f0;

// MEDIA QUERY SIZES
$bp-largest: 93.75em; //1500px
$bp-large: 75em; //1200px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //650px
$bp-smallest: 31.25em; //600px
