// CONTACTS
.contacts {
  @include flex-col;

  justify-content: center;

  @media screen and (min-width: $bp-medium) {
    @include flex-row-wrap;
  }

  &__subscribe {
    padding: 4rem 2rem;
    background-color: $shocking-pink;
    color: $white;
    flex: 1;
  }

  &__social {
    @include flex-row-wrap;

    flex: 1;
    justify-content: center;
    background-color: $black;
    padding: 4rem 2rem;
  }

  &__icon {
    width: 60px;
    display: inline-block;
    padding: 0.8rem;
  }
}
