//HEADER
.header {
  @include flex-col;

  justify-content: center;
  align-items: center;
  height: 50vh;

  &__box {
    @include flex-col;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
