//HEADER
.header {
  @include flex-col;

  justify-content: center;
  align-items: center;
  height: 30vh;
  position: relative;
  background-image: url(../img/pinkwave2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $bp-medium) {
    height: 50vh;
  }

  @media screen and (min-width: $bp-large) {
    height: 90vh;
  }

  &__box {
    @include flex-col;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
