// JOBS
.jobs {
  @include flex-row-wrap;

  justify-content: center;
  background-color: $white;
  padding: 6rem 2em;

  @media screen and (min-width: $bp-large) {
    padding: 8rem 3rem;
    margin: 6rem;
  }

  &__box {
    @include flex-col;

    @media screen and (min-width: $bp-small) {
      flex: 40%;
      margin: 2rem;
    }

    @media screen and (min-width: $bp-medium) {
      flex: 25%;
    }

    @media screen and (min-width: $bp-large) {
      flex: 20%;
    }

    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    margin: 3rem 0;
    box-shadow: 3px 3px 0 $shocking-pink, -3px -3px 0 $shocking-pink,
      6px 6px 0 rgba($black, 0.7), -6px -6px 0 rgba($black, 0.7);
  }

  &__content {
    padding: 1rem;
  }
}
