// BUTTONS
.btn {
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
  font-family: inherit;
  font-weight: 600;

  &--more {
    background-color: $shocking-pink;
    color: $black;
    transition: all 0.3s ease-out;

    &::after {
      content: "⟶";
      display: inline-block;
      padding: 0.5rem;
      font-weight: 700;
      transition: all 0.3s ease-out;
    }

    &:hover::after {
      transform: translateX(0.5rem);
      color: $white;
    }
  }

  &:hover {
    color: $white;
  }

  &--jobs {
    margin-top: 4rem;
    background-color: $black;
    color: $white;
    transition: all 0.3s ease-in-out;

    &:focus,
    &:hover {
      box-shadow: 3px 3px 0 $shocking-pink, -3px -3px 0 $shocking-pink,
        6px 6px 0 $black, -6px -6px 0 $black;
    }
  }
}
