.heading-primary {
  font-family: "Anonymous Pro", monospace;
  font-size: 3.5rem;
  color: $black;
  font-weight: 700;
  position: relative;
  display: inline-block;
  transform: translateX(-50%);

  &--sub {
    display: block;
  }

  &::before {
    content: "⭗";
    color: $white;
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
    line-height: 6rem;
    display: block;
    background-color: $shocking-pink;
    position: absolute;
    left: -100%;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
    text-align: center;
  }

  &::after {
    content: "go!";
    display: inline-block;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    color: $black;
    border-bottom: 4px solid $black;
    top: 50%;
    backface-visibility: hidden;
    text-transform: uppercase;
    position: absolute;
    right: -90%;
    animation: moveIn 1.5s cubic-bezier(0, 1.17, 1, -0.4) forwards;
  }

  &--motto {
    margin-top: 1rem;
    font-size: 2.5rem;
    background-color: $black;
    color: $white;
    align-self: stretch;
    border-radius: 5px;
    padding: 0 3rem;
  }
}

.heading-secondary--article {
  color: $white;
  margin-bottom: 6rem;
  padding: 1rem;
  border-top: 4px solid $white;
  border-bottom: 4px solid $white;
  width: 100%;
  background-color: $shocking-pink;
  position: relative;
  box-shadow: 0 6px 0 $black, 0 -6px 0 $black;

  &::before {
    content: "⭗";
    color: $white;
    display: inline-block;
    margin: 0 0.5rem;
  }
}

.heading-secondary--job {
  text-align: center;
}

.heading-tertiary {
  border-bottom: 3px solid $shocking-pink;
  width: 100%;
  padding: 1rem;

  &--pop {
    &::before,
    &::after {
      content: '"';
    }
  }
}
